 *{
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(img/fondo_pizarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1{
    padding: 30px;
    font-family: sans-serif;
}

.container{
    background-image: linear-gradient(143deg, rgb(143, 228, 127) 5%,rgb(6, 73, 15));
    max-width: 700px;
    margin: auto;
    border: 5px solid #583501;
    border-radius: 20px;
    display: flex;
    padding: 50px 0;
    box-shadow: 1em 1em 1em black;
}

.izquierdo{
    width: 70%;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Rubik Dirt', 'sans serif';
}

.derecha{
    width: 30%;
}


.msj{
    font-size: 40px;
    height: 50px;
    font-family: 'Rubik Dirt','sans-serif';
  }

.opcion{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    font-size: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #1c8ba7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Dirt',sans-serif;
}

.opcion:hover{
    background-color: #262626;
}
